<div>
    <h2>Kundgebung für Vernunft und Solidarität in der Corona-Pandemie</h2>
    <div class="text">
        <p>
            Nach dem großen Zuspruch, den unsere "Erklärung für Vernunft und Solidarität in der Corona-Pandemie" in der
            Bevölkerung erhalten hat, möchten wir nun auch mit einer Kundgebung auf dem Festplatz in Gunzenhausen
            ein weiteres deutliches Zeichen setzen. Bisher sind bereits über 4000 Unterschriften zusammengekommen.
        </p>
        <p>
            Dieser Erfolg der Resolution zeigt, dass die überwältigende Mehrheit der Menschen in unserem Landkreis für
            den Schutz des menschlichen Lebens eintritt und sich klar gegen Coronaleugner, ihre Verschwörungserzählungen
            und rechte Trittbrettfahrer wendet.
        </p>
        <p>
            Deshalb wollen wir uns am <b>22.01.2022</b> um <b>14:00 Uhr</b> auf dem <b>Gunzenhäuser Schießwasen</b> versammeln, um der
            vernünftigen Mehrheit der Bevölkerung nun auch in Präsenz die Möglichkeit zu geben, ihrer Haltung Ausdruck
            zu verleihen.
        </p>
        <p>
            Lassen Sie uns gemeinsam der Opfer der Pandemie gedenken und all jene würdigen, die unter der
            kräftezehrenden Situation besonders zu leiden haben. Unsere Solidarität und Empathie gehört dabei den
            Angehörigen von an Covid-19 Gestorbenen, den vielen engagierten Menschen, die im medizinischen Sektor
            und in den Care-Berufen arbeiten, den Gastronomen, den Kulturschaffenden, den Menschen im Einzelhandel
            und im Dienstleistungsgewerbe, aber auch den Familien und den vielen Kindern und Jugendlichen,
            die monatelange Schulschließungen erdulden mussten und erst spät die schützende Corona-Impfung erhalten
            konnten.
        </p>
        <p>
            <b>
                Bei der Kundgebung FFP2-Maske zu tragen, ist für uns selbstverständlich, ebenso wie auf den gebotenen
                Abstand (1,5 m) zu achten.
            </b>
        </p>
    </div>
    <h2>Resolution</h2>
    <div class="text">
        <p>unter dem Motto „Für Vernunft und Solidarität in der Corona-Pandemie" möchten wir auf dieser
            Plattform möglichst viele Unterschriften sammeln, um den unsäglichen Aufmärschen und
            Kundgebungen von Coronaleugner*innen und Impfgegner*innen in unserem Landkreis eine starke
            und unmissverständliche Haltung der Vernunft und der gesellschaftlichen Solidarität
            entgegenzusetzen.
        </p>
        <p>
            Wir wollen es nicht länger hinnehmen, dass die gewaltigen gesamtgesellschaftlichen Anstrengungen
            für den Schutz von Leben und Gesundheit durch das verantwortungslose Handeln einer kleinen, aber
            lautstark und rücksichtslos auftretenden Minderheit gefährdet werden.
        </p>
        <p>
            Denn während auch in unserer Region Tausende ohne Mund-Nasen-Schutz und Abstand auf der Straße
            ihren egoistischen Befindlichkeiten nachgehen, arbeiten in unseren Krankenhäusern und
            Pflegeeinrichtungen Ärtzt*innen und Pfleger*innen seit Monaten an ihrer Leistungsgrenze, um Leib
            und Leben der ihnen anvertrauten Menschen zu schützen.
        </p>
        <p>
            Wir sind überzeugt:
            Die Mehrheit der Menschen in Deutschland und unserer Region verhält sich vernünftig, solidarisch und
            rücksichtvoll.
        </p>
        <p>
            Auch wenn es ihnen gewiss nicht leicht fällt, haben Gastwirtschaften, Hotels, Handel und
            Kultureinrichtungen ihren Betrieb für den Gesundheitsschutz stark eingeschränkt.
        </p>
        <p>
            Viele Unternehmen und Einrichtungen in unserer Region versuchen, unter schwierigen Bedingungen
            (3 G, Quarantänen und Tests) ihre Produktion bzw. ihren Betrieb auch in der Pandemie aufrechtzuerhalten.
        </p>
        <p>
            Gleiches gilt für die öffentliche Verwaltung und den Bildungsbereich mit seinen
            Hochschuleinrichtungen, Schulen und Kindertageseinrichtungen.
        </p>
        <p>
            Trotz dieser Schwierigkeiten ist sich die Mehrheit der Bevölkerung aber vollkommen darüber im
            Klaren, dass die Bekämpfung der Pandemie nur mit diesem Akt der Solidarität gelingen kann.
            Aufmärsche, welche die Gefahren durch eine Infektion mit dem Coronavirus verharmlosen und dazu
            aufrufen, die öffentlichen Maßnahmen des solidarischen Gesundheitsschutzes zu unterlaufen, sind
            dagegen nicht nur verantwortungslos, sondern tragen vor allem auch dazu bei, dass die genannten
            gesellschaftlichen Bereiche noch länger unter den Auswirkungen der Pandemie leiden müssen, als es
            notwendig wäre.
        </p>
        <p>
            Deswegen rufen wir die Menschen in unserem Landkreis dazu auf, die weltweite Impfkampagne gegen
            das Coronavirus SARS-Cov-2 zu unterstützen und die vorhandenen Impfangebote anzunehmen. Wir
            vertrauen dabei auf die Empfehlungen der Wissenschaft und wenden uns gegen jene, die mit
            gefährlichen Verschwörungserzählungen unsere liberale und soziale Demokratie angreifen und durch
            ihre nicht vorhandene Distanz zu rechtsextremen und antisemitischen Gruppierungen jene
            gesellschaftliche Spaltung erst herbeiführen, die sie selbst wehleidig beklagen.
        </p>
        <p>Anette Pappler, Harald Dösel und Mathias Hertlein</p>
    </div>
    <h2>Erstunterzeichnende ({{ numberOfFirstFirstSignees }})</h2>
    {{ include('elements/signup/signee-list.html.twig', {'signees':firstSignees}) }}
    <h2>Weitere Unterzeichnende ({{ numberOfOtherSignees }})</h2>
    <div>
        <p>
            Innerhalb von nur 10 Tagen haben {{ numberOfOtherSignees }} Menschen aus dem ganzen Landkreis ein Zeichen
            für Solidarität und Vernunft und gegen Hetze und Spaltung gesetzt. Niemals hätten wir mit so einer Resonanz gerechnet.
        </p>
        <p>
             Vielen Dank für die Unterstützung!
        </p>
        <p>
            <small>
                Die Kampagne war von Anfang an darauf ausgelegt, nur für einen kurzen Zeitraum aktiv zu sein. Darum ist die
                Möglichkeit die Resolution zu unterzeichnen seit dem 18.01.2022 deaktiviert.
            </small>
        </p>
    </div>
</div>
