<div class="impresum vcard">
    <h2>Vielen Dank für ihre Stimme für Vernunft und Solidarität!</h2>
    <p>Nach der Überprüfung durch unser Team, wird Ihre Unterschrift innerhalb den nächsten Stunden auf der Webseite erscheinen.</p>
    <div class="container g-0">
        <a href="{{ url('show-resolution') }}">Zurück zur Resolution</a>
    </div>
</div>
