<div class="impresum vcard">
    <h2>Impressum</h2>

    <div>
        <p class="section">Anbieter dieser Website im Sinne des §5 Telemediengesetz (TMG):</p>
        <address class="adr">
            <span class="fn">Mathias Hertlein</span><br/>
            <span class="street-address">Kapellengasse 10</span><br/>
            <span class="postal-code">91801</span>
            <span class="locality">Markt Berolzheim</span><br/>
            <span class="country-name">Deutschland</span><br/>
            <a class="tel" href="tel:+4917684003000">+49 (0)176 8400 3000</a><br/>
            <a class="email" href="mailto:vernunft@mh.cx">vernunft@mh.cx</a>
        </address>
    </div>

    <div>
        <p class="section">Inhaltlich Verantwortlicher gemäß §55 Abs.2 Rundfunkstaatsvertrag (RStV):</p>
        <address class="adr">
            <span class="fn">Mathias Hertlein</span><br/>
            <span class="street-address">Kapellengasse 10</span><br/>
            <span class="postal-code">91801</span>
            <span class="locality">Markt Berolzheim</span><br/>
            <span class="country-name">Deutschland</span><br/>
            <a class="tel" href="tel:+4917684003000">+49 (0)176 8400 3000</a><br/>
            <a class="email" href="mailto:vernunft@mh.cx">vernunft@mh.cx</a>
        </address>
    </div>
</div>
