.footer-nav {
    list-style: none;
}

.signee-list {
    list-style: none;
}
@media (max-width: 768px) {
    .signee-list:first-child {
        margin-bottom: 0;
    }
}

.resolution {
    text-align: justify;
}
