<div class="container g-0">
    <ul class="row signee-list">
        {% for signee in signees %}
                {{ include('elements/signup/signee-list-entry.html.twig') }}
        {% endfor %}
    </ul>
</div>
